#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

ul {
    display: flex;
    max-width: 80rem;
    padding: 8rem;
    scroll-snap-type: x mandatory;
    perspective: 100rem;
    transform-style: preserve-3d;
    overflow: auto;

}

li {
    list-style: none;
    position: relative;
    transform-style: preserve-3d;
    animation: auto set-z linear both;
    animation-timeline: view(inline);
    will-change: transform, z-index;
    z-index: 0;

}

.card {
    width: 17rem;
    max-width: 17rem;
    animation: auto rotate-cover linear both;
    animation-timeline: view(inline);
    scroll-snap-align: center;
    transform-style: preserve-3d;
    border-radius: 8px;
    border: 1px solid #ccc;
    backface-visibility: hidden;
    transition: all .3s ease;
    background: #fff;
    padding: 1rem;
    &:hover{
        background: #555;
        color: #fff;
    }

}

.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: .5rem;
    background: green;
    animation: grow_progress auto linear;
    animation-timeline: scroll(inline);
    transform-origin: 0 50%;
    will-change: transform, z-index;
    z-index: 0;
}

@keyframes set-z {
    0% {
        z-index: 0;
        scale: .9;

    }

    35% {
        z-index: 4;
    }

    50% {
        z-index: 10;
        scale: 1.5;
    }

    65% {
        z-index: 4;
    }

    100% {
        z-index: 0;
        scale: .9;

    }
}

@keyframes rotate-cover {
    0% {
        transform: translateX(-125%) rotateY(-45deg) translateZ(-15deg) scale(0.75);
        opacity: 0;
    }

    35% {
        transform: translateX(0) rotateY(-45deg) translateZ(-5deg);
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0);
        opacity: 1;
    }

    48% {
        transform: rotateY(0deg) scale(1.35) translateZ(0deg);
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.75);
    }
    50% {
        transform: rotateY(0deg) scale(1.35) translateZ(0deg);
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.75);
    }
    52% {
        transform: rotateY(0deg) scale(1.35) translateZ(0deg);
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.75);
    }

    65% {
        transform: translateX(0) rotateY(45deg) translateZ(-5deg);
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0);
        opacity: 1;
    }

    100% {
        transform: translateX(125%) rotateY(45deg) translateZ(-15deg) scale(0.75);
        opacity: 0;
    }
}

@keyframes reveal {
    /* from {
        translate: 1000px -1000px;
        opacity: 0;
        scale: 0;
        background: green;
    }

    to {
        translate: 0;
        scale: 1;
        box-shadow: 0 0 20px rgba(0,0,0,.25);
        opacity: 1;

    } */
}