h1 {
    font-size: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #262626;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    background: url("/images/heart.svg");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    animation: animate 6s linear;
    filter: drop-shadow(0 10px 18px rgba(0, 0, 0, .15));
    z-index: 1;
    /* object-fit: contain; */
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }

    100% {
        transform: translate(0%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}